@use "/src/style/variables.scss" as *;

.collapse {
    
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    max-width: 1440px;
    width: 85%;
	
	
	@media screen and (min-width: 768px) {
		margin-bottom: 0px;	

	}

	&__description {

		@media screen and (min-width: 768px) {
			margin-bottom: 0px;
		}
	}

	&_Equipement {
		width: 100%;

	}


    
	&__header {
		background: $Theme-color;
		color: $Footer-color;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 30px;
		padding: 7px 15px;
		border-radius: 5px;
		

		@media screen and (min-width: $Breakpoint-desktop) {
			height: 47px;
		}

		h2 {
			
            color : $Text-color;
			@media screen and (min-width: 768px) {
				font-size: 1rem;
				
			}
		}
    }

    &__toggle {
        opacity: 0;
        color: $Theme-color;
        background: $Background-color;
        border-radius: 5px;        
        margin-bottom: 0px;

		transition: all 0.1s ease-in-out, opacity 0s ease-in-out;

        p {
            margin: 0;
            padding: 22px 15px;
            pointer-events: none;			
            color : $Text-color-navbar;
			height: 0;
			

			@media screen and (max-width: 768px) {
				margin-bottom: 10px;
				padding-bottom: 10px;
				padding-top: 10px;
			}

        }



    }


}

.animated {
	opacity: 1;
	height: auto;
	transition: height 0.6s ease-in-out, opacity 0.6s ease-in-out;

	p {
		height: auto;
		margin-bottom: 25px;
	}
}

.chevron {
	width: 9px;
	transform: rotate(0deg);
	transition: 0.4s 0.4s ease-in-out;

	@media screen and (min-width: $Breakpoint-desktop) {
		width: 15px;
	}
}

.rotated {
	transform: rotate(180deg);
	transition: 0.4s ease-in-out;
}