@use "/src/style/variables.scss" as *;

.error {
    text-align: center;
    height: 80vh;

    h1 {
        color: $Theme-color;
        font-size: 8rem;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    h2 {
        color: $Theme-color;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 5rem;

    }

    a {
        color: black;
        text-decoration: underline;
    }
}