
.nav-header {
    display: flex;
    justify-content: flex-end;

    a{
        text-decoration: none;
        display: flex;
        margin: 1%;
        height: 34px;
        width: 120px;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: black;
        &.nav-active{
            text-decoration: underline;
        }
    }
}
